<div class="col-xs-6">
    <h3>Add a Task</h3>
    <form #taskForm="ngForm" (ngSubmit)="createTask(taskForm)">
        <div class="mb-3">
            <label for="title" class="form-label">Title<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="title" id="title" [(ngModel)]="title" required minlength="5">
            <div *ngIf="taskForm.controls.title.invalid && (taskForm.controls.title.dirty || taskForm.controls.title.touched)"
                class="text-danger">
                Title must be at least 5 characters long.
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label for="desc" class="form-label">Description<span class="text-danger">*</span></label>
            <textarea class="form-control" name="description" id="desc" [(ngModel)]="description" required
                minlength="5"></textarea>
            <div *ngIf="taskForm.controls.description.invalid && (taskForm.controls.description.dirty || taskForm.controls.description.touched)"
                class="text-danger">
                Description must be at least 5 characters long.
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Due Date<span class="text-danger">*</span></label><br>
            <input type="date" class="form-control" name="dueDate" [(ngModel)]="dueDate" required>
            <div *ngIf="taskForm.controls.dueDate.invalid && (taskForm.controls.dueDate.dirty || taskForm.controls.dueDate.touched)"
                class="text-danger">
                Due Date is required.
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Priority<span class="text-danger">*</span></label>
            <br>
            <select class="form-select" name="priority" [(ngModel)]="priority" required>
                <option value="1" selected>High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">Add</button>
        &nbsp; <button type="button" class="btn btn-secondary" [routerLink]="['/']">Back</button>
    </form>
    <router-outlet></router-outlet>
</div>
